*{
    padding: 0;
    margin: 0;
    text-decoration: none ;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
    text-align: center;
}

h2.logo{
    color: black;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:inherit;
    margin-top: 50px;
    
}

nav{
    background: white;
    height: 80px;
    width: 100%;
    margin:0px;
}

nav a{
    display: inline-block;
    line-height: 80px;
    margin-right: 40px;
    color: black;
    font-size: 20px;
}

a.active,a:hover{
    color: #b4bcc2;
    transition: .5s;
}

.hamburger{
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active::before{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after{
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar{
    opacity: 0;
}