*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Google Sans Regular";
  box-sizing:border-box;
}

body{
  background: #fefefe;
  margin: 0;
  padding: 0;
  min-width: 1053px;
}

.slideshow-container{
  background-color: rgb(250, 199, 208);
  width: 100%;
}

header{
  width: 100%;
  background: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo{
    text-align: center;
    color: black;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-right: 55px;
}

.logo a{
  color: #000;
}

.hamburger{
  display: none;
}

.navBarIcons{
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.search{
  background: #eaeaea;
  margin: 50px 0;
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
}

.navBar .navBarIcons .search input{
  height: 10px;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 10px;
}

.search i{
  margin-left: 15px;
  color: #999;
}

.icons{
  margin-right: 0;
}

.icons i{
  color: black;
  margin-right: 10px;
  margin-top: 55px;
  height: 0px;
}

.navBar ul{
  display: flex;
  margin-top:20px;
  width: 100%;
  margin-left: 10px;
}

.navBar ul li a{
  display: block;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 5px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.navBar ul li a:hover{
  border-bottom: 3px solid black;
}

.navBar ul li a.active{
  color: gray;
}

.navBar ul li a.active:hover{
  border-bottom: 3px solid gray;
}

.maincon1{
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.maincon1_box{
  width: 100%;
  
}
.maincon1 img{
  height: 95%;
  width: 100%;
  margin-top: 10px;
}

.maincon1 .text{
  color: white;
  align-items: center;
  padding: 200px 100px 170px ;
  width: 100%;
}

.maincon1 .text .try{
  font-size: 30px;
  font-weight: bold;
}

.maincon1 .text .diy{
  font-size: 60px;
  font-weight: bold;
}

.maincon1 .text .ext{
  font-size: 60px;
  font-weight: bold;
}

.text{
  padding-left: 80px ;
}

.button{
  display: inline-block;
  width: 100%;
}

.buy{
  padding: 15px 45px;
  background-color: white;
  border: white;
  margin-top: 20px;
  margin-right: 20px;
  display: inline;
}

button:hover{
  cursor: pointer;
}

.learn{
  padding: 15px 45px;
  background-color: white;
  border: white;
  display: inline;
}

.blueband{
  width: 100%;
  height: 65px;
  background-color: rgb(90, 90, 194);
  color: white;
  text-align: center;
  font-size: 30px;
  padding-top: 15px;
}


.WWO{
  width: fit-content;
  height: 500px;
}

.WWO h2{
  margin-top: 80px;
  text-align: center;
}

.WWO .boxes{
  display: flex;
  flex-direction: row;
}

.WWO .box{
  border: 2px;
  margin: 60px 30px 0 30px;
  width: 60%;
  height: 300px; 
  padding: 80px 30px 30px 30px;
  text-align: center;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.box i{
  color: rgb(255, 160, 176);
}
  
  .box h3{
  margin-top: 25px;
}

.Three{
  background-color: rgb(255, 241, 244);
}

.Three h2{
  text-align: center;
  padding-top: 70px;
}

.Three .boxes{
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.Three .boxes .box{
  margin-left: 35px;
}

.Three img{
  height: 350px;
  width: 350px;
  border-radius: 30px;
}

.Three h3{
  text-align: center;
}

.Three p{
  text-align: center;
  margin-top: 30px;
}

.kit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#magnifying_area{
  width: 500px;
  height: 500px;
  margin-top: 80px;
  margin-left: 140px;
  overflow: hidden;
  position: relative;
}

#magnifying_img{
  max-width: 100%;
  min-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.kit .pics Img{
  height: 500px;
}

.kit .pics .card-img{
  height: 87px;
}

.card-image{
  position: relative;
  height: 90px;
  width: 150px;
  margin-top: 30px;
  margin-left: 140px;
}

.card-image .card-img{
  width: 90px;
}

.kit .kitText{
  margin-top: 80px;
  margin-right: 40px;
}

.kit .kitText h2 a{
  color: black;
}

.kit .kitText p span{
  text-decoration: line-through;
  color: rgb(250, 112, 135);
}

.kit .kitText .floatText{
  float: left;
  width: 170px;
}

.kit .kitText .longText{
  margin-top: 15px;
  width: 300px;
}

.kit .kitText .moreInfo{
  border: none;
  background-color: white;
  font-weight: bold;
  margin-top: 35px;
}

.kit .kitText .style{
  margin-top: 30px;
  font-weight: bold;
}

.kit .kitText .styletype{
  margin-top: 2px;
  padding: 14px 100px 14px 14px;
}

.kit .kitText .numbers{
  margin-top: 8px;
  padding: 12px;
}

.kit .kitText .stylecart{
  background-color: black;
  color: white;
  border: none;
  padding: 13px 40px;
  margin-left: 7px;
}

.kit .kitText .styleprice{
  display: inline;
  background-color: black;
  color: white;
  padding: 11px 12px 0 12px;
}

.kit .kitText .stylecurrency{
  background-color: black;
  color: white;
  width: 80px;
  margin-left: 244px;
  margin-top: -18px;
  text-align: center;
}

.kit .kitText .freestyle{
  margin-top: 20px;
  margin-bottom: 40px;
}

.kit .kitText .freestyle i{
  color: blue;
}

.kit .kitText .styleicons{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: smaller;
  margin-right: 20px;
}

.kit .kitText .styleicons i{
  color: rgb(252, 97, 146);
  margin-bottom: 20px;
  font-size:xx-large;
}

.kit .kitText .styleicons .delivery{
  margin-right: 20px;
}

.kit .kitText .styleicons .money{
  margin-right: 20px;
}

.kit .kitText .styleicons .customer{
  margin-right: 20px;
}

.kit .kitText .styleicons .secure{
  margin-right: 20px;
}

.sponsors{
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
  margin-top: 80px;
  width: 100%;
  height: 70px;
  padding: 40px 10px;
}

.sponsors h1{
  text-transform: uppercase;
  font-style: oblique;
}

.sponsors h2{
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.sponsors h3{
  font-style: italic;
  font-size: larger;
}

.reviews h2{
  margin-top: 70px;
  text-align: center;
}

.reviews .reviewboxes{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 45px;
}

.reviews .reviewboxes img{
  width: 90%;
  height: 60%;
}

.reviews .reviewboxes .review1{
  width: 30%;
}

.reviews .reviewboxes .review2{
  width: 30%;
}

.reviews .reviewboxes .review3{
  width: 30%;
}

@media only screen and (max-width: 1320px){
  header{
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px){
  header{
    padding: 0 30px;
  }
}

@media only screen and (max-width: 900px){
  header{
    flex-direction: row;
    
  }
  .hamburger{
    display: block;
    cursor: pointer;
    margin-top: 70px;
  }
  .hamburger .line{
    width: 20px;
    height:3px;
    background: black;
    margin: 4px 0;
    border-radius: 10px;
  }
  .hamburger:hover{
    background: rgb(241, 239, 239);
  }
  .navBar{
    margin-top: 50px;
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: whitesmoke;
    transition: 1s;
    overflow: hidden;
  }
  .navBar.active{
    height: fit-content;
  }
  .navBar ul{
    display: block;
    width: fit-content;
    margin: 30px auto 0 5px;
    text-align: left;
    transition: 0.5s;
    opacity: 0;
  }
  .navBar.active ul{
    opacity: 1;
  }
  .logo{
    font-size: 29px;
    margin-left: 20px;
  }
}